.berita {
  position: relative;
  width: 1440px;
  height: 2143px;
  background-color: #ffffff;
}

.berita .group {
  position: absolute;
  width: 1153px;
  height: 1106px;
  top: 510px;
  left: 143px;
}

.berita .div {
  position: absolute;
  width: 365px;
  height: 902px;
  top: 0;
  left: 788px;
}

.berita .side-recent-ponts {
  position: absolute;
  width: 365px;
  height: 501px;
  top: 74px;
  left: 0;
}

.berita .overlap-group {
  position: relative;
  height: 501px;
  border-radius: 5px;
}

.berita .rectangle {
  width: 365px;
  height: 501px;
  left: 0;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--primary);
  opacity: 0.2;
  position: absolute;
  top: 0;
}

.berita .text-wrapper {
  position: absolute;
  top: 19px;
  left: 23px;
  font-family: var(--display-2-font-family);
  font-weight: var(--display-2-font-weight);
  color: var(--primary);
  font-size: var(--display-2-font-size);
  letter-spacing: var(--display-2-letter-spacing);
  line-height: var(--display-2-line-height);
  white-space: nowrap;
  font-style: var(--display-2-font-style);
}

.berita .group-2 {
  position: absolute;
  width: 318px;
  height: 400px;
  top: 81px;
  left: 23px;
}

.berita .mini-news {
  position: absolute;
  width: 318px;
  height: 60px;
  top: 0;
  left: 0;
}

.berita .img {
  width: 70px;
  height: 60px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.berita .group-3 {
  position: absolute;
  width: 208px;
  height: 51px;
  top: 4px;
  left: 81px;
}

.berita .this-article-s-title {
  position: absolute;
  top: 19px;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: var(--secondary);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.berita .mini-news-2 {
  top: 68px;
  position: absolute;
  width: 318px;
  height: 60px;
  left: 0;
}

.berita .mini-news-3 {
  top: 136px;
  position: absolute;
  width: 318px;
  height: 60px;
  left: 0;
}

.berita .mini-news-4 {
  top: 204px;
  position: absolute;
  width: 318px;
  height: 60px;
  left: 0;
}

.berita .mini-news-5 {
  top: 272px;
  position: absolute;
  width: 318px;
  height: 60px;
  left: 0;
}

.berita .mini-news-6 {
  top: 340px;
  position: absolute;
  width: 318px;
  height: 60px;
  left: 0;
}

.berita .news-search-input {
  display: flex;
  width: 365px;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding: 14px 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  border-radius: 5px;
}

.berita .search {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.8;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.berita .group-4 {
  position: relative;
  width: 22px;
  height: 22px;
}

.berita .side-categories {
  position: absolute;
  width: 365px;
  height: 303px;
  top: 599px;
  left: 0;
}

.berita .overlap {
  position: relative;
  height: 303px;
  border-radius: 5px;
}

.berita .rectangle-2 {
  position: absolute;
  width: 365px;
  height: 303px;
  top: 0;
  left: 0;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--primary);
  opacity: 0.2;
}

.berita .category {
  position: absolute;
  width: 318px;
  height: 50px;
  top: 81px;
  left: 23px;
}

.berita .overlap-group-2 {
  position: relative;
  height: 50px;
  border-radius: 5px;
}

.berita .rectangle-3 {
  width: 318px;
  height: 50px;
  left: 0;
  background-color: var(--white);
  border-radius: 5px;
  opacity: 0.2;
  position: absolute;
  top: 0;
}

.berita .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1px 7px;
  position: absolute;
  top: 12px;
  left: 274px;
  background-color: var(--secondary);
  border-radius: 50px;
}

.berita .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.berita .surgery {
  position: absolute;
  top: 11px;
  left: 23px;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--black);
  font-size: var(--body-2-font-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  white-space: nowrap;
  font-style: var(--body-2-font-style);
}

.berita .overlap-wrapper {
  top: 131px;
  position: absolute;
  width: 318px;
  height: 50px;
  left: 23px;
}

.berita .overlap-group-wrapper {
  top: 181px;
  position: absolute;
  width: 318px;
  height: 50px;
  left: 23px;
}

.berita .div-wrapper {
  top: 231px;
  position: absolute;
  width: 318px;
  height: 50px;
  left: 23px;
}

.berita .element-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1px 7px;
  position: absolute;
  top: 12px;
  left: 266px;
  background-color: var(--secondary);
  border-radius: 50px;
}

.berita .group-5 {
  position: absolute;
  width: 744px;
  height: 1091px;
  top: 15px;
  left: 0;
}

.berita .p {
  position: absolute;
  width: 742px;
  top: 432px;
  left: 0;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--black);
  font-size: var(--body-2-font-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  font-style: var(--body-2-font-style);
}

.berita .rectangle-4 {
  width: 742px;
  height: 400px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.berita .group-6 {
  position: absolute;
  width: 720px;
  height: 45px;
  top: 1046px;
  left: 0;
}

.berita .button-with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 13px 26px;
  position: absolute;
  top: 0;
  left: 557px;
  background-color: var(--accent);
  border-radius: 50px;
}

.berita .read-more {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 500;
  color: var(--primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.berita .vector {
  position: relative;
  width: 12.83px;
  height: 12px;
  margin-right: -1.00px;
}

.berita .button-with-icon-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 13px 26px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent);
  border-radius: 50px;
}

.berita .vector-2 {
  position: relative;
  width: 12.83px;
  height: 12px;
  margin-left: -1.00px;
}

.berita .footer {
  position: absolute;
  width: 1440px;
  height: 427px;
  top: 1716px;
  left: 0;
  background-color: var(--primary);
}

.berita .group-7 {
  position: absolute;
  width: 278px;
  height: 110px;
  top: 70px;
  left: 197px;
}

.berita .RSUD-PJS {
  position: absolute;
  width: 167px;
  height: 26px;
  top: 7px;
  left: 2px;
}

.berita .memimpin-dalam {
  position: absolute;
  width: 274px;
  top: 60px;
  left: 0;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--white);
  font-size: var(--body-2-font-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  font-style: var(--body-2-font-style);
}

.berita .group-8 {
  position: absolute;
  width: 172px;
  height: 198px;
  top: 70px;
  left: 724px;
}

.berita .text-wrapper-4 {
  position: absolute;
  width: 128px;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: var(--white);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .group-9 {
  position: absolute;
  width: 180px;
  height: 138px;
  top: 60px;
  left: 0;
}

.berita .text-wrapper-5 {
  position: absolute;
  width: 56px;
  top: 0;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.berita .text-wrapper-6 {
  position: absolute;
  width: 149px;
  top: 29px;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.berita .text-wrapper-7 {
  position: absolute;
  width: 153px;
  top: 58px;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.berita .text-wrapper-8 {
  position: absolute;
  width: 170px;
  top: 87px;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.berita .text-wrapper-9 {
  position: absolute;
  width: 147px;
  top: 116px;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.berita .group-10 {
  position: absolute;
  width: 287px;
  height: 211px;
  top: 68px;
  left: 958px;
}

.berita .text-wrapper-10 {
  position: absolute;
  width: 130px;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: var(--white);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .group-11 {
  position: absolute;
  width: 293px;
  height: 151px;
  top: 60px;
  left: 0;
}

.berita .text-wrapper-11 {
  position: absolute;
  width: 230px;
  top: 0;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.berita .text-wrapper-12 {
  position: absolute;
  width: 230px;
  top: 129px;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.berita .text-wrapper-13 {
  position: absolute;
  width: 285px;
  top: 29px;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.berita .alamat-jl-h-hasan {
  position: absolute;
  width: 284px;
  top: 58px;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--white);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.berita .vector-3 {
  position: absolute;
  width: 1046px;
  height: 1px;
  top: 316px;
  left: 197px;
  object-fit: cover;
}

.berita .vector-4 {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 361px;
  left: 1125px;
}

.berita .vector-5 {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 361px;
  left: 1171px;
}

.berita .vector-6 {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 361px;
  left: 1218px;
}

.berita .text-wrapper-14 {
  position: absolute;
  width: 585px;
  top: 362px;
  left: 197px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .sub-head {
  position: absolute;
  width: 1440px;
  height: 250px;
  top: 160px;
  left: 0;
  background-image: url(./img/rectangle-3.png);
  background-size: 100% 100%;
}

.berita .overlap-2 {
  position: relative;
  height: 250px;
  background-color: #ffffff80;
}

.berita .group-12 {
  position: absolute;
  width: 1440px;
  height: 250px;
  top: 0;
  left: 0;
}

.berita .overlap-group-3 {
  position: relative;
  height: 250px;
}

.berita .frame-2 {
  position: absolute;
  width: 1440px;
  height: 250px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.berita .ellipse {
  position: absolute;
  width: 256px;
  height: 256px;
  top: 122px;
  left: 1312px;
  background-color: var(--accent);
  border-radius: 128px;
  opacity: 0.5;
}

.berita .ellipse-2 {
  position: absolute;
  width: 239px;
  height: 239px;
  top: -119px;
  left: -119px;
  background-color: var(--secondary);
  border-radius: 119.5px;
  opacity: 0.3;
}

.berita .group-13 {
  position: absolute;
  width: 1440px;
  height: 8px;
  top: 242px;
  left: 0;
}

.berita .rectangle-5 {
  width: 883px;
  height: 8px;
  left: 322px;
  background-color: var(--primary);
  position: absolute;
  top: 0;
}

.berita .rectangle-6 {
  width: 235px;
  height: 8px;
  left: 1205px;
  background-color: var(--secondary);
  position: absolute;
  top: 0;
}

.berita .rectangle-7 {
  width: 322px;
  height: 8px;
  left: 0;
  background-color: var(--accent);
  position: absolute;
  top: 0;
}

.berita .group-14 {
  position: absolute;
  width: 259px;
  height: 76px;
  top: 76px;
  left: 197px;
}

.berita .overlap-3 {
  position: relative;
  width: 255px;
  height: 76px;
}

.berita .about-us {
  position: absolute;
  top: 21px;
  left: 0;
  font-family: var(--display-1-font-family);
  font-weight: var(--display-1-font-weight);
  color: var(--primary);
  font-size: var(--display-1-font-size);
  letter-spacing: var(--display-1-letter-spacing);
  line-height: var(--display-1-line-height);
  white-space: nowrap;
  font-style: var(--display-1-font-style);
}

.berita .home-about {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--primary);
  font-size: var(--body-2-font-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  white-space: nowrap;
  font-style: var(--body-2-font-style);
}

.berita .topmost {
  position: fixed;
  width: 1440px;
  height: 80px;
  top: 0;
  left: 0;
  background-color: var(--white);
}

.berita .group-15 {
  position: absolute;
  width: 704px;
  height: 42px;
  top: 20px;
  left: 591px;
}

.berita .group-16 {
  position: absolute;
  width: 194px;
  height: 42px;
  top: 0;
  left: 0;
}

.berita .text-wrapper-15 {
  position: absolute;
  width: 96px;
  top: 21px;
  left: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 500;
  color: var(--secondary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .group-17 {
  position: absolute;
  width: 42px;
  height: 38px;
  top: 4px;
  left: 0;
}

.berita .gawat-darurat {
  position: absolute;
  width: 142px;
  top: 0;
  left: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 500;
  color: var(--primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .group-18 {
  position: absolute;
  width: 166px;
  height: 40px;
  top: 0;
  left: 252px;
}

.berita .text-wrapper-16 {
  position: absolute;
  width: 120px;
  top: 21px;
  left: 42px;
  font-family: "Work Sans", Helvetica;
  font-weight: 500;
  color: var(--secondary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .group-19 {
  position: absolute;
  width: 34px;
  height: 32px;
  top: 3px;
  left: -1px;
}

.berita .jam-pelayanan {
  position: absolute;
  width: 116px;
  top: 0;
  left: 42px;
  font-family: "Work Sans", Helvetica;
  font-weight: 500;
  color: var(--primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .group-20 {
  position: absolute;
  width: 233px;
  height: 40px;
  top: 1px;
  left: 475px;
}

.berita .text-wrapper-17 {
  position: absolute;
  width: 188px;
  top: 21px;
  left: 42px;
  font-family: "Work Sans", Helvetica;
  font-weight: 500;
  color: var(--secondary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .group-21 {
  position: absolute;
  width: 34px;
  height: 38px;
  top: 0;
  left: -1px;
}

.berita .email {
  position: absolute;
  width: 53px;
  top: 0;
  left: 42px;
  font-family: "Work Sans", Helvetica;
  font-weight: 500;
  color: var(--primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .group-22 {
  position: absolute;
  width: 230px;
  height: 52px;
  top: 12px;
  left: 143px;
}

.berita .RSUDPJS {
  position: absolute;
  width: 169px;
  top: 7px;
  left: 59px;
  font-family: "Yeseva One", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.berita .span {
  color: #1f2b6c;
}

.berita .text-wrapper-18 {
  color: #159eec;
}

.berita .IMG {
  position: absolute;
  width: 53px;
  height: 52px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.berita .navbar {
  display: flex;
  width: 1440px;
  height: 80px;
  align-items: center;
  justify-content: center;
  gap: 276px;
  padding: 17px 187px 18px;
  position: fixed;
  top: 80px;
  left: 0;
  background-color: var(--primary);
}

.berita .navbar-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.berita .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: #fcfefe;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.berita .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.berita .text-wrapper-21 {
  font-weight: 600;
  color: #bfd2f8;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
