.profile {
    position: relative;
    width: 1440px;
    height: 3042px;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .profile .sub-head {
    position: absolute;
    width: 1440px;
    height: 250px;
    top: 160px;
    left: 0;
    background-image: url(./img/rectangle-3.png);
    background-size: 100% 100%;
  }
  
  .profile .overlap {
    position: relative;
    height: 250px;
    background-color: #ffffff80;
  }
  
  .profile .group {
    position: absolute;
    width: 1440px;
    height: 250px;
    top: 0;
    left: 0;
  }
  
  .profile .overlap-group {
    position: relative;
    height: 250px;
  }
  
  .profile .frame {
    position: absolute;
    width: 1440px;
    height: 250px;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .profile .ellipse {
    position: absolute;
    width: 256px;
    height: 256px;
    top: 122px;
    left: 1312px;
    background-color: var(--accent);
    border-radius: 128px;
    opacity: 0.5;
  }
  
  .profile .div {
    position: absolute;
    width: 239px;
    height: 239px;
    top: -119px;
    left: -119px;
    background-color: var(--secondary);
    border-radius: 119.5px;
    opacity: 0.3;
  }
  
  .profile .group-2 {
    position: absolute;
    width: 1440px;
    height: 8px;
    top: 242px;
    left: 0;
  }
  
  .profile .rectangle {
    position: absolute;
    width: 883px;
    height: 8px;
    top: 0;
    left: 322px;
    background-color: var(--primary);
  }
  
  .profile .rectangle-2 {
    position: absolute;
    width: 235px;
    height: 8px;
    top: 0;
    left: 1205px;
    background-color: var(--secondary);
  }
  
  .profile .rectangle-3 {
    position: absolute;
    width: 322px;
    height: 8px;
    top: 0;
    left: 0;
    background-color: var(--accent);
  }
  
  .profile .overlap-wrapper {
    position: absolute;
    width: 152px;
    height: 76px;
    top: 76px;
    left: 197px;
  }
  
  .profile .overlap-2 {
    position: relative;
    width: 148px;
    height: 76px;
  }
  
  .profile .text-wrapper {
    position: absolute;
    width: 148px;
    top: 21px;
    left: 0;
    font-family: var(--display-1-font-family);
    font-weight: var(--display-1-font-weight);
    color: var(--primary);
    font-size: var(--display-1-font-size);
    letter-spacing: var(--display-1-letter-spacing);
    line-height: var(--display-1-line-height);
    font-style: var(--display-1-font-style);
  }
  
  .profile .text-wrapper-2 {
    position: absolute;
    width: 145px;
    top: 0;
    left: 0;
    font-family: var(--body-2-font-family);
    font-weight: var(--body-2-font-weight);
    color: var(--primary);
    font-size: var(--body-2-font-size);
    letter-spacing: var(--body-2-letter-spacing);
    line-height: var(--body-2-line-height);
    font-style: var(--body-2-font-style);
  }
  
  .profile .group-wrapper {
    position: absolute;
    width: 651px;
    height: 73px;
    top: 510px;
    left: 394px;
  }
  
  .profile .group-3 {
    position: relative;
    width: 655px;
    height: 73px;
  }
  
  .profile .p {
    position: absolute;
    top: 36px;
    left: 0;
    font-family: var(--display-2-font-family);
    font-weight: var(--display-2-font-weight);
    color: var(--primary);
    font-size: var(--display-2-font-size);
    text-align: center;
    letter-spacing: var(--display-2-letter-spacing);
    line-height: var(--display-2-line-height);
    white-space: nowrap;
    font-style: var(--display-2-font-style);
  }
  
  .profile .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 71px;
    font-family: "Work Sans", Helvetica;
    font-weight: 700;
    color: var(--secondary);
    font-size: 26px;
    text-align: center;
    letter-spacing: 4.16px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .profile .footer {
    width: 1441px;
    height: 2359px;
    top: 683px;
    position: absolute;
    left: 0;
  }
  
  .profile .testimonials {
    position: absolute;
    width: 1440px;
    height: 441px;
    top: 693px;
    left: 0;
    background-image: url(./img/rectangle-53.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .profile .overlap-group-2 {
    position: relative;
    height: 441px;
  }
  
  .profile .rectangle-4 {
    position: absolute;
    width: 1440px;
    height: 441px;
    top: 0;
    left: 0;
    background-color: var(--primary);
    opacity: 0.6;
  }
  
  .profile .group-4 {
    position: absolute;
    width: 698px;
    height: 313px;
    top: 64px;
    left: 373px;
  }
  
  .profile .vector {
    position: absolute;
    width: 47px;
    height: 30px;
    top: 0;
    left: 324px;
  }
  
  .profile .text-wrapper-4 {
    position: absolute;
    width: 694px;
    top: 70px;
    left: 0;
    font-family: "Work Sans", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30.8px;
  }
  
  .profile .john-doe {
    position: absolute;
    top: 234px;
    left: 306px;
    font-family: "Suez One", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30.8px;
    white-space: nowrap;
  }
  
  .profile .img {
    position: absolute;
    width: 233px;
    height: 1px;
    top: 214px;
    left: 230px;
    object-fit: cover;
  }
  
  .profile .group-5 {
    position: absolute;
    width: 78px;
    height: 18px;
    top: 295px;
    left: 308px;
  }
  
  .profile .rectangle-5 {
    position: absolute;
    width: 19px;
    height: 18px;
    top: 0;
    left: 0;
    background-color: var(--white);
    border-radius: 50px;
  }
  
  .profile .rectangle-6 {
    position: absolute;
    width: 19px;
    height: 18px;
    top: 0;
    left: 30px;
    background-color: var(--accent);
    border-radius: 50px;
  }
  
  .profile .rectangle-7 {
    position: absolute;
    width: 19px;
    height: 18px;
    top: 0;
    left: 59px;
    background-color: var(--white);
    border-radius: 50px;
  }
  
  .profile .group-6 {
    position: absolute;
    width: 1167px;
    height: 598px;
    top: 1234px;
    left: 138px;
  }
  
  .profile .rectangle-8 {
    position: absolute;
    width: 479px;
    height: 598px;
    top: 0;
    left: 0;
  }
  
  .profile .group-7 {
    position: absolute;
    width: 473px;
    height: 99px;
    top: 0;
    left: 503px;
  }
  
  .profile .text-wrapper-5 {
    position: absolute;
    width: 469px;
    top: 34px;
    left: 0;
    font-family: var(--display-1-font-family);
    font-weight: var(--display-1-font-weight);
    color: var(--primary);
    font-size: var(--display-1-font-size);
    letter-spacing: var(--display-1-letter-spacing);
    line-height: var(--display-1-line-height);
    font-style: var(--display-1-font-style);
  }
  
  .profile .rsud-pangeran-jaya {
    position: absolute;
    width: 425px;
    top: 0;
    left: 0;
    font-family: var(--caption-font-family);
    font-weight: var(--caption-font-weight);
    color: var(--secondary);
    font-size: var(--caption-font-size);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
    font-style: var(--caption-font-style);
  }
  
  .profile .div-wrapper {
    position: absolute;
    width: 402px;
    height: 126px;
    top: 159px;
    left: 505px;
  }
  
  .profile .group-8 {
    position: relative;
    height: 126px;
  }
  
  .profile .group-9 {
    position: absolute;
    width: 333px;
    height: 29px;
    top: 0;
    left: 0;
  }
  
  .profile .text-wrapper-6 {
    position: absolute;
    width: 301px;
    top: 0;
    left: 31px;
    font-family: var(--body-2-font-family);
    font-weight: var(--body-2-font-weight);
    color: #000000;
    font-size: var(--body-2-font-size);
    letter-spacing: var(--body-2-letter-spacing);
    line-height: var(--body-2-line-height);
    white-space: nowrap;
    font-style: var(--body-2-font-style);
  }
  
  .profile .rectangle-9 {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 5px;
    left: 0;
    background-color: var(--secondary);
    border-radius: 50px;
  }
  
  .profile .group-10 {
    position: absolute;
    width: 404px;
    height: 29px;
    top: 48px;
    left: 0;
  }
  
  .profile .text-wrapper-7 {
    position: absolute;
    width: 371px;
    top: 0;
    left: 31px;
    font-family: var(--body-2-font-family);
    font-weight: var(--body-2-font-weight);
    color: #000000;
    font-size: var(--body-2-font-size);
    letter-spacing: var(--body-2-letter-spacing);
    line-height: var(--body-2-line-height);
    white-space: nowrap;
    font-style: var(--body-2-font-style);
  }
  
  .profile .group-11 {
    position: absolute;
    width: 177px;
    height: 29px;
    top: 96px;
    left: 0;
  }
  
  .profile .text-wrapper-8 {
    position: absolute;
    width: 145px;
    top: 0;
    left: 31px;
    font-family: var(--body-2-font-family);
    font-weight: var(--body-2-font-weight);
    color: #000000;
    font-size: var(--body-2-font-size);
    letter-spacing: var(--body-2-letter-spacing);
    line-height: var(--body-2-line-height);
    white-space: nowrap;
    font-style: var(--body-2-font-style);
  }
  
  .profile .group-12 {
    position: absolute;
    width: 152px;
    height: 29px;
    top: 298px;
    left: 506px;
  }
  
  .profile .text-wrapper-9 {
    position: absolute;
    width: 120px;
    top: 0;
    left: 31px;
    font-family: var(--body-2-font-family);
    font-weight: var(--body-2-font-weight);
    color: #000000;
    font-size: var(--body-2-font-size);
    letter-spacing: var(--body-2-letter-spacing);
    line-height: var(--body-2-line-height);
    white-space: nowrap;
    font-style: var(--body-2-font-style);
  }
  
  .profile .group-13 {
    position: absolute;
    width: 149px;
    height: 29px;
    top: 341px;
    left: 506px;
  }
  
  .profile .text-wrapper-10 {
    position: absolute;
    width: 116px;
    top: 0;
    left: 31px;
    font-family: var(--body-2-font-family);
    font-weight: var(--body-2-font-weight);
    color: #000000;
    font-size: var(--body-2-font-size);
    letter-spacing: var(--body-2-letter-spacing);
    line-height: var(--body-2-line-height);
    white-space: nowrap;
    font-style: var(--body-2-font-style);
  }
  
  .profile .text-wrapper-11 {
    position: absolute;
    width: 663px;
    top: 402px;
    left: 503px;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: #000000;
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .profile .footer-2 {
    width: 1440px;
    height: 427px;
    top: 1932px;
    background-color: var(--primary);
    position: absolute;
    left: 0;
  }
  
  .profile .group-14 {
    position: absolute;
    width: 278px;
    height: 110px;
    top: 70px;
    left: 197px;
  }
  
  .profile .RSUD-PJS {
    position: absolute;
    width: 167px;
    height: 26px;
    top: 7px;
    left: 2px;
  }
  
  .profile .memimpin-dalam {
    position: absolute;
    width: 274px;
    top: 60px;
    left: 0;
    font-family: var(--body-2-font-family);
    font-weight: var(--body-2-font-weight);
    color: var(--white);
    font-size: var(--body-2-font-size);
    letter-spacing: var(--body-2-letter-spacing);
    line-height: var(--body-2-line-height);
    font-style: var(--body-2-font-style);
  }
  
  .profile .group-15 {
    position: absolute;
    width: 172px;
    height: 198px;
    top: 70px;
    left: 724px;
  }
  
  .profile .text-wrapper-12 {
    position: absolute;
    width: 128px;
    top: 0;
    left: 0;
    font-family: "Work Sans", Helvetica;
    font-weight: 600;
    color: var(--white);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .group-16 {
    position: absolute;
    width: 180px;
    height: 138px;
    top: 60px;
    left: 0;
  }
  
  .profile .text-wrapper-13 {
    position: absolute;
    width: 56px;
    top: 0;
    left: 0;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--white);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .profile .text-wrapper-14 {
    position: absolute;
    width: 149px;
    top: 29px;
    left: 0;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--white);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .profile .text-wrapper-15 {
    position: absolute;
    width: 153px;
    top: 58px;
    left: 0;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--white);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .profile .text-wrapper-16 {
    position: absolute;
    width: 170px;
    top: 87px;
    left: 0;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--white);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .profile .text-wrapper-17 {
    position: absolute;
    width: 147px;
    top: 116px;
    left: 0;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--white);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .profile .group-17 {
    position: absolute;
    width: 287px;
    height: 211px;
    top: 68px;
    left: 958px;
  }
  
  .profile .text-wrapper-18 {
    position: absolute;
    width: 130px;
    top: 0;
    left: 0;
    font-family: "Work Sans", Helvetica;
    font-weight: 600;
    color: var(--white);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .group-18 {
    position: absolute;
    width: 293px;
    height: 151px;
    top: 60px;
    left: 0;
  }
  
  .profile .text-wrapper-19 {
    position: absolute;
    width: 230px;
    top: 0;
    left: 0;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--white);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .profile .text-wrapper-20 {
    position: absolute;
    width: 230px;
    top: 129px;
    left: 0;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--white);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .profile .text-wrapper-21 {
    width: 285px;
    top: 29px;
    left: 0;
    font-weight: var(--body-font-weight);
    color: var(--white);
    line-height: var(--body-line-height);
    position: absolute;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    font-style: var(--body-font-style);
  }
  
  .profile .alamat-jl-h-hasan {
    position: absolute;
    width: 284px;
    top: 58px;
    left: 0;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--white);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .profile .vector-2 {
    position: absolute;
    width: 1046px;
    height: 1px;
    top: 316px;
    left: 197px;
    object-fit: cover;
  }
  
  .profile .vector-3 {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 361px;
    left: 1125px;
  }
  
  .profile .vector-4 {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 361px;
    left: 1171px;
  }
  
  .profile .vector-5 {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 361px;
    left: 1218px;
  }
  
  .profile .text-wrapper-22 {
    position: absolute;
    width: 585px;
    top: 362px;
    left: 197px;
    font-family: "Work Sans", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .overlap-group-wrapper {
    position: absolute;
    width: 1441px;
    height: 693px;
    top: 0;
    left: 0;
  }
  
  .profile .overlap-3 {
    position: relative;
    height: 693px;
  }
  
  .profile .overlap-group-3 {
    position: relative;
    width: 1440px;
    height: 693px;
  }
  
  .profile .rectangle-10 {
    position: absolute;
    width: 1439px;
    height: 693px;
    top: 0;
    left: 1px;
    object-fit: cover;
  }
  
  .profile .rectangle-11 {
    position: absolute;
    width: 1440px;
    height: 693px;
    top: 0;
    left: 0;
    background-color: var(--white);
    opacity: 0.8;
  }
  
  .profile .group-19 {
    position: absolute;
    width: 1169px;
    height: 551px;
    top: 71px;
    left: 136px;
  }
  
  .profile .group-20 {
    position: absolute;
    width: 1171px;
    height: 172px;
    top: 0;
    left: 0;
  }
  
  .profile .overlap-group-4 {
    position: relative;
    width: 1169px;
    height: 172px;
    background-color: var(--primary);
    border-radius: 5px;
  }
  
  .profile .text-wrapper-23 {
    position: absolute;
    width: 91px;
    top: 11px;
    left: 539px;
    font-family: var(--display-1-font-family);
    font-weight: var(--display-1-font-weight);
    color: #ffffff;
    font-size: var(--display-1-font-size);
    letter-spacing: var(--display-1-letter-spacing);
    line-height: var(--display-1-line-height);
    white-space: nowrap;
    font-style: var(--display-1-font-style);
  }
  
  .profile .group-21 {
    position: absolute;
    width: 1033px;
    height: 75px;
    top: 84px;
    left: 66px;
  }
  
  .profile .text-wrapper-24 {
    position: absolute;
    width: 1031px;
    top: 0;
    left: 0;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: var(--white);
    font-size: var(--title-font-size);
    text-align: center;
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    font-style: var(--title-font-style);
  }
  
  .profile .group-22 {
    position: absolute;
    width: 1171px;
    height: 334px;
    top: 217px;
    left: 0;
  }
  
  .profile .overlap-4 {
    position: relative;
    width: 1169px;
    height: 334px;
    background-color: var(--primary);
    border-radius: 5px;
  }
  
  .profile .menjalankan-tata-wrapper {
    position: absolute;
    width: 1047px;
    height: 15px;
    top: 91px;
    left: 66px;
  }
  
  .profile .menjalankan-tata {
    position: absolute;
    width: 1045px;
    top: 0;
    left: 0;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: var(--white);
    font-size: var(--title-font-size);
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    white-space: nowrap;
    font-style: var(--title-font-style);
  }
  
  .profile .text-wrapper-25 {
    position: absolute;
    width: 109px;
    top: 25px;
    left: 530px;
    font-family: var(--display-1-font-family);
    font-weight: var(--display-1-font-weight);
    color: #ffffff;
    font-size: var(--display-1-font-size);
    letter-spacing: var(--display-1-letter-spacing);
    line-height: var(--display-1-line-height);
    white-space: nowrap;
    font-style: var(--display-1-font-style);
  }
  
  .profile .topmost {
    position: fixed;
    width: 1440px;
    height: 80px;
    top: 0;
    left: 0;
    background-color: var(--white);
  }
  
  .profile .group-23 {
    position: absolute;
    width: 704px;
    height: 42px;
    top: 20px;
    left: 591px;
  }
  
  .profile .group-24 {
    position: absolute;
    width: 194px;
    height: 42px;
    top: 0;
    left: 0;
  }
  
  .profile .text-wrapper-26 {
    width: 96px;
    left: 48px;
    position: absolute;
    top: 21px;
    font-family: "Work Sans", Helvetica;
    font-weight: 500;
    color: var(--secondary);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .group-25 {
    position: absolute;
    width: 42px;
    height: 38px;
    top: 4px;
    left: 0;
  }
  
  .profile .gawat-darurat {
    position: absolute;
    width: 142px;
    top: 0;
    left: 48px;
    font-family: "Work Sans", Helvetica;
    font-weight: 500;
    color: var(--primary);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .group-26 {
    position: absolute;
    width: 166px;
    height: 40px;
    top: 0;
    left: 252px;
  }
  
  .profile .text-wrapper-27 {
    width: 120px;
    left: 42px;
    position: absolute;
    top: 21px;
    font-family: "Work Sans", Helvetica;
    font-weight: 500;
    color: var(--secondary);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .group-27 {
    position: absolute;
    width: 34px;
    height: 32px;
    top: 3px;
    left: -1px;
  }
  
  .profile .jam-pelayanan {
    position: absolute;
    width: 116px;
    top: 0;
    left: 42px;
    font-family: "Work Sans", Helvetica;
    font-weight: 500;
    color: var(--primary);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .group-28 {
    position: absolute;
    width: 233px;
    height: 40px;
    top: 1px;
    left: 475px;
  }
  
  .profile .text-wrapper-28 {
    position: absolute;
    width: 188px;
    top: 21px;
    left: 42px;
    font-family: "Work Sans", Helvetica;
    font-weight: 500;
    color: var(--secondary);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .group-29 {
    position: absolute;
    width: 34px;
    height: 38px;
    top: 0;
    left: -1px;
  }
  
  .profile .email {
    width: 53px;
    top: 0;
    left: 42px;
    font-weight: 500;
    color: var(--primary);
    line-height: normal;
    position: absolute;
    font-family: "Work Sans", Helvetica;
    font-size: 16px;
    letter-spacing: 0;
  }
  
  .profile .group-30 {
    position: absolute;
    width: 230px;
    height: 52px;
    top: 12px;
    left: 143px;
  }
  
  .profile .RSUDPJS {
    position: absolute;
    width: 169px;
    top: 7px;
    left: 59px;
    font-family: "Yeseva One", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .span {
    color: #1f2b6c;
  }
  
  .profile .text-wrapper-29 {
    color: #159eec;
  }
  
  .profile .IMG {
    position: absolute;
    width: 53px;
    height: 52px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .profile .navbar {
    display: flex;
    width: 1440px;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 276px;
    padding: 17px 187px 18px;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: var(--primary);
  }
  
  .profile .navbar-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .profile .text-wrapper-30 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Work Sans", Helvetica;
    font-weight: 400;
    color: #fcfefe;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .profile .text-wrapper-31 {
    font-weight: 600;
    color: #bfd2f8;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Work Sans", Helvetica;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .profile .text-wrapper-32 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Work Sans", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .profile .group-31 {
    position: relative;
    width: 22px;
    height: 22px;
  }